@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI', 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color-scheme: light dark;
  color: #23243a;
  background-color: #f3f6fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}
